.navbar{
        position: relative;
        background-color: rgb(104, 73, 240);
        text-align: center;
        justify-content: center;
        padding: 40px 0px;
       
    
    }
    .button{
        text-decoration: none;
        color: whitesmoke;
    }
    .darkNight{
        background-color: black;
      }
    
    .navbar >a{
        margin: 0 10px;
        color: whitesmoke;
        text-decoration: none;
        padding: 8px;
        border: 2px solid;
        border-radius: 5px;
    }
    
    .navbar >a:hover{
    
        color: brown;
      
    }