/* .home{
    background-image: url('/site.jpg');
    color: whitesmoke;
    margin: 0%;
    background-size: cover;
    border-image-repeat:no-repeat;
    height: 90vh;
    width: 100vw;
    margin-top: 0%;
    
} */